<p id="notice"><%= notice %></p>

<p><h1> <%= @team.name %> </h1>
</p>

<p>
  <strong>Captain:</strong>
  <%= @team.captain_1.full_name %>
  <strong>Captain2:</strong>
  <%= @team.captain_2.full_name %>
</p>

<div class="container">
<p><h2> Players </h1>
<table class="table table-bordered">
<thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th align="right">games</th>
    <th align="right">wins</th>
    <th align="right">%</th>
    <th align="right">8's</th>
    
    <th colspan="3"></th>
  </tr>
<tbody>
  <% @team.players.order(:l_name).each do |player| %>
    <tr>
      <td><%= player.full_name %></td>
      <td><%= player.team.name%></td>
      <% @games_played = player.games.where.not(:winning_team_id => 0 ).count %>
      <td align="right"><%= @games_played %></td>
      <% @games_won = player.games.where(:winning_team_id => player.team_id).count %>
      <td align="right"><%= @games_won %></td>
      <% if @games_played != 0 %>
        <td align="right"><%= ((@games_won.to_f/@games_played)*100).round(0) %>%</td>
      <% else %>
        <td align="right"> 0 </td>
      <% end %>  
      <td align="right"><%= player.gameplayers.where(:eight => true).count%></td>
      <td><%= link_to 'Show', player %></td>
      <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
</div>

<div class="container">
<p><h2> Matches </h1>

<% @matches_ctr = 0 %>
<% @our_games_ctr = 0 %>
<% @their_games_ctr = 0 %>

<table class="table table-bordered">
<tbody>
  <% @team.mattches.order(:mattch_date).each do |match| %>
    <% @matches_ctr += 1 %>
    <tr>
      <td><%= @matches_ctr %> </td>
      <td><%= match.mattch_date %></td>
      <td><%= match.teams.where.not(:id => @team).first.name%></td>

      <td><% if (match.matchteams.where(:team_id => @team).first.home ) %>
            Home
          <% else %>
            Away
          <% end %>
      </td>

      <td><%= match.games.where(:winning_team_id => @team).count%></td>
      <td><%= match.games.where.not(:winning_team_id => @team).where.not(:winning_team_id => 0).count%></td>
      
      <% @our_games_ctr += match.games.where(:winning_team_id => @team).count %>
      <% @their_games_ctr += match.games.where.not(:winning_team_id => @team).where.not(:winning_team_id => 0).count %>
      <td><%= @our_games_ctr %> </td>
      <td><%= @their_games_ctr %> </td>

      <td><%= link_to 'Show', match %></td>
      <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_mattch_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>  
    </tr>
  <% end %>
</tbody>
</table>
</div>


<%= link_to 'Edit', edit_team_path(@team), :class=>"btn btn-primary"  %> |
<%= link_to 'All Teams', teams_path, :class=>"btn btn-primary"  %> |
<%= link_to 'Add Player', new_player_path, :class=>"btn btn-primary"  %> |
