<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @team.captain %>
</p>

<p>
  <strong>Captain2:</strong>
  <%= @team.captain2 %>
</p>

<div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team.players.each do |player| %>
      <tr>
        <td><%= player.full_name %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'All Teams', teams_path %> |
<%= link_to 'Add Player', new_player_path %>
