<%= form_for(mattch) do |f| %>
  <% if mattch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mattch.errors.count, "error") %> prohibited this mattch from being saved:</h2>

      <ul>
      <% mattch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :match_date %>
        <%= f.date_select :mattch_date %>
      </div>
    </div> 
  </div>

  <%= f.fields_for :matchteams do |m| %>
    <div class="row">
      <div class="col-sm-4">
        <%= m.label :team_id %>
        <%= m.collection_select(:team_id, Team.all.order("name"), :id, :name) %>
        <%= m.label :home %>
        <%= m.check_box(:home) %>   
          <% @team_b_id = :team_id  %>
      </div>    
    </div>
  <% end %>
    
  </br>

  <div class="actions">
    <input type="submit" name="commit" value="Create Match" data-disable-with="Create Mattch" /> 
    <input type="submit" name="addGames" value="Add Games" data-disable-with="Create Mattch" /> 
  </div>

  </br>

<% end %>
