

<%= form_for(@mattch) do |f| %>

  <% if mattch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mattch.errors.count, "error") %> prohibited this mattch from being saved:</h2>
      <ul>
      <% mattch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">

    <% @counter_a = 0 %>
    <% @team_a_id = @mattch.matchteams.first.team_id  %>
    <% @team_b_id = @mattch.matchteams.last.team_id  %>

    <div class="row">
      <%= f.fields_for :matchteams do |m| %>
        <div class="col-sm-4">

          <%= m.label :team_id %>
          <% if @counter_a == 0 %>  
            <% @team_a_id = @mattch.matchteams.first.team_id  %>
            <%= m.collection_select(:team_id, Team.all.order("name"), :id, :name, {}, 
                                    html_options={:class=>"team_a",
                                                  :onchange=>"left_team_change(this)"}) %>
          <% else %>
            <% @team_b_id = @mattch.matchteams.last.team_id  %>
            <%= m.collection_select(:team_id, Team.all.order("name"), :id, :name, {}, 
                                    html_options={:class=>"team_b",
                                                  :onchange=>"right_team_change(this)"}) %>
          <% end %>

          <%= m.label :home %>
          <%= m.check_box(:home) %> 
          <% if @counter_a == 0 %>
            </div><div class="col-sm-4">
              <%= f.date_select :mattch_date %>
            </div>
          <% else %>
            </div>  
          <% end %>  

          <% @counter_a += 1 %>

      <% end %> 
    </div>

    <%= @team_a_id  %>
    <%= @team_b_id  %>


    <% @counter_a = 0 %>
    <% @counter_b = 0 %>

    <%= f.fields_for :games, @games do |g| %>
    <div class="game_span">
      <div class="row">
        <div class="col-sm-2">
          <%= g.label :game %>
          <%= @counter_a += 1 %>
          <%= g.label :forfeit %>
          <%= g.check_box(:forfeit) %>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-3"> 
          <%= g.hidden_field :game_number, value: @counter_a %>  
          Winner :   
          <%= g.collection_select(:winning_team_id, Team.all.order("name"), :id, :name, {}, 
                                    html_options={:class=>"winning_team",
                                                  :onchange=>"recount_wins()"}) %>
        </div>
        <div class="col-sm-2 current_score" > 
            Score:   
        </div>  
      </div>

    <% @counter_b = 0 %>
    <div class="row">

    <%= g.fields_for :gameplayers, g.object.gameplayers do |p| %>

        <div class="col-sm-3">
          <% if @counter_b < 2 %>   
            <%= p.collection_select(:player_id, Player.where(:team_id => @team_a_id).order("l_name"), :id, :full_name, {},html_options={:class=>"select_player_left"}) %>
          <% else %>
            <%= p.collection_select(:player_id, Player.where(:team_id => @team_b_id).order("l_name"), :id, :full_name, {}, 
                                    html_options={:class=>"select_player_right"}) %>
          <% end %>
          8<%= p.check_box(:eight) %>
        </div>
          <% @counter_b += 1 %>
          <%= g.hidden_field :gameplayer_number, value: @counter_b %>  
    <% end %>
    </div>
  </div>    
<% end %>

</br>

    <div class="actions">
      <%= f.submit %>
    </div>  

  </div>


<% end %>


  

  </br>

