<%= form_for(mattch) do |f| %>
  <% if mattch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mattch.errors.count, "error") %> prohibited this mattch from being saved:</h2>

      <ul>
      <% mattch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mattch_date %>
    <%= f.date_select :mattch_date %>
  </div>

  <div>
    <%= f.fields_for :matchteams do |m| %>
      <%= m.label :team_id %>
      <%= m.collection_select(:team_id, Team.all.order("name"), :id, :name) %>

      <%= m.label :home %>
      <%= m.check_box(:home) %>    
    <% end %>
  </div>

  <div>
    <% @counter_a = 0 %>
    <%= f.fields_for :games do |g| %>

      <%= g.label :game_number %>     <%= @counter_a += 1 %>
      <%= g.hidden_field :game_number, value: @counter_a %>    

      <%= g.label :forfeit %>
      <%= g.check_box(:forfeit) %>    
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
