<p id="notice"><%= notice %></p>

   <% if @mattch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mattch.errors.count, "error") %> prohibited this mattch from being saved:</h2>

      <ul>
      <% mattch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <h1> <%= @mattch.mattch_date %> </h1>
</p>


<table class="table table-bordered">
<tr>

<% team_id_left = 0 %>
<% team_id_right = 0 %>

<% counter_a = 0 %>

<% @mattch.teams.each do |team|%>

  <% if counter_a == 0 %>
    <% team_id_left = team.id %>
  <% else %>
    <% team_id_right = team.id %>   
  <% end %>

  <% counter_a += 1 %>
	
  <td colspan="2">
  	<h2> <%= team.name %> </h2>
  </td>	
<% end %>

</tr>

</table>

<div class="container-fluid">

  <% score_left = 0 %>
  <% score_right = 0 %>

  <% @mattch.games.each do |game| %>

    <% if game.winning_team_id == team_id_left %>
      <% score_left += 1 %>
    <% end %>

    <% if game.winning_team_id == team_id_right %>
      <% score_right += 1 %>
    <% end %>

    <div class="game_span">
      <div class="row">
        <div class="col-sm-2">
          Game #
          <%= game.game_number %>
          <% if game.forfeit %> 
            Forfeited
          <% end %>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-2"> 
          Winner : 
          <% if game.winning_team_id %>  
            <%= Team.find(game.winning_team_id).name %>  
          <% end %>
        </div>
        <div class="col-sm-1">
          Score: 
        </div>
        <div class="col-sm-4 current_score" >  
          <% if game.winning_team_id != 0 &&  game.winning_team_id %> 
            <h4> <%= score_left.to_s + " - " + score_right.to_s %>  </h4>
          <% end %> 
        </div>  
      </div>

      <div class="row">
        <% game.players.each do |player| %>
          <div class="col-sm-3">
            <%= player.full_name %>
          </div>
        <% end %>
      </div>
    </div>  
  <% end %>
     
  </div>

</div>    

</br>

<%= link_to 'Refresh', @mattch, :class=>"btn btn-primary" %> |
<%= link_to 'Edit Match', edit_mattch_path(@mattch), :class=>"btn btn-primary" %> |
<%= link_to 'All Matches', mattches_path, :class=>"btn btn-primary" %> |
