<p id="notice"><%= notice %></p>

   <% if @mattch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mattch.errors.count, "error") %> prohibited this mattch from being saved:</h2>

      <ul>
      <% mattch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>
  <strong>Match date:</strong>
  <%= @mattch.mattch_date %>
</p>


<table class="table table-bordered">
<tr>

<% @mattch.teams.each do |team|%>
	<td colspan="2">
  	<h2> <%= team.name %> </h2>
  </td>	
<% end %>

</tr>

</table>

<%= link_to 'Edit', edit_mattch_path(@mattch) %> |
<%= link_to 'Back', mattches_path %>
