<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<div class="col-sm-6">
<h1>All Players</h1>
</div> 
<div class="col-sm-3">
<%= link_to 'Add Player', new_player_path, :class=>"btn btn-primary" %>
</div>
</div>
<div class="row">
<div class="col-sm-12 player_table">

<table class="table table-bordered players_table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>games</th>
      <th>wins</th>
      <th>%</th>
      <th>8's</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.order(:f_name).each do |player| %>
      <tr>
        <td><%= player.full_name %></td>
        <td><%= link_to player.team do %>
              <%= player.team.name%>
            <% end %> </td>
        <% @games_played = player.games.where.not(:winning_team_id => 0 ).count %>
        <td align="right"><%= @games_played %></td>
        <% @games_won = player.games.where(:winning_team_id => player.team_id).count %>
        <td align="right"><%= @games_won %></td>
        <% if @games_played != 0 %>
          <td align="right"><%= ((@games_won.to_f/@games_played)*100).round(0) %>%</td>
        <% else %>
          <td align="right"> 0 </td>
        <% end %>  
        <td align="right"><%= player.gameplayers.where(:eight => true).count%></td>
        <td><%= link_to 'Show', player %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_player_path(player) %></td>
          <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>

<%= link_to 'Add Player', new_player_path, :class=>"btn btn-primary" %> |
