<p id="notice"><%= notice %></p>

<h1> 
  <%= @player.full_name %> - <%= @player.team.name %> #<%= @player.team_id %>
</h1>

Matches played:<%= @player.games.where.not(:winning_team_id => nil ).count("DISTINCT mattch_id") %>

<div class="container">
<h2> Games </h2>

<table class="table table-bordered">
<thead class="thead-inverse">
	<tr>
  	<th colspan="2">Match</th>
    <th>Game</th>
    <th>Win</th>
    <th>Eight</th>
    <th>Partner</th>
    <th>Opponate 1</th>
    <th>Opponate 2</th>
    <th colspan="3"></th>
  </tr>
</thead>

<% count_eights = 0 %>
<% count_games = 0 %>
<% count_wins = 0 %>

<% @player.games.where.not(:winning_team_id => 0 ).each do |game| %>
  <% count_games += 1 %> 
  <tr>
  	<td><%= game.mattch.mattch_date %></td>
    <td> vs <%= Team.find(game.matchteams.where.not(:team_id => @player.team_id ).first.team_id).name %></td>
    <td>game # <%= game.game_number %></td>
    <td> <% if game.winning_team_id == @player.team_id %>
           Won
           <% count_wins += 1 %>          
     	 <%else %>
           Lost
     	 <% end %> </td>	  
    <td> <% if game.forfeit %>
                Forfeit
         <%else %>
           <% if @player.gameplayers.where(:game_id => game).first.eight %>
             Eight!
             <% count_eights += 1 %>
           <%else %>
             -------
           <% end %>           
         <% end %> </td>          

    <% game.players.where(:team_id => @player.team_id ).where.not(:id => @player.id ).each do |others| %>   
    	<td><%= others.full_name %></td>
    <% end %>

    <% game.players.where.not(:team_id => @player.team_id ).each do |others| %>   
     	<td><%= others.full_name %></td>
    <% end %>

    <td><%= link_to 'Show', game %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_game_path(game) %></td>
      <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>  
    </tr>
  <% end %>
  <tr>
    <td>totals</td>
    <td></td>
    <td><%= count_games %></td>
    <td><%= count_wins %></td> 
    <td><%= count_eights %></td> 
  </tr>
  <tr>  
    <td>percent</td>
    <td></td>
    <td></td>
    <% if (count_games == 0) %>
        <td> 0 </td> 
        <td align="right">  0 </td>
    <% else %>
        <td> <%= ((count_wins.to_f/count_games)*100).round(0) %>% </td>
        <td align="right"><%= ((count_eights.to_f/count_games)*100).round(0) %>%</td>
      <% end %>    
  </tr>

</table>
</div>

<%= link_to 'Edit Player', edit_player_path(@player), :class=>"btn btn-primary"  %> |
<%= link_to 'All Players', players_path, :class=>"btn btn-primary"  %>
