<!DOCTYPE html>
<html>
  <head>
    <title>Poolappx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

<%= link_to 'All Games', games_path %>
<%= link_to 'All Players', players_path %>
<%= link_to 'All Matches', mattches_path %>
<%= link_to 'All Teams', teams_path %>

</html>
